{% extends 'core/base.html' %}

{% block title %}About{% endblock %}
{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h1 class="text-4xl">Sobre nosotros</h1>
        <div class="flex grid grid-cols-2 gap-3 text-center">
            <div class="p-6 bg-white rounded-b-xl">
                <h2 class="bold text-3xl">Miquel Puig</h2>
                <div>
                    <img src="#" class="rounded-t-xl">
                </div>
                <p class="text-gray-500 text-xl">
                    Nacido en Barcelona (España) en 1969, está especializado desde hace casi 20 años en organizar
                    servicios educativos para niños y jóvenes dentro del modelo educativo no formal (MENOF), primero con
                    su propia empresa SCHOOL HOUSE y después como directivo en la empresa INTERNATIONAL HOUSE, en el
                    sector de la enseñanza de idiomas.<br><br>
                    Ha creado y coordinado entre los años 2008 y 2020 el Concurso de Inglés Interescolar de Catalunya y
                    Baleares (THE FONIX) en colaboración con el Departament d' Ensenyament de la Generalitat de
                    Catalunya y del Govern Balear, con decenas de miles de concursantes. En 2016 funda la Asociación de
                    Escuelas de Español como Lengua Extranjera en las Islas Baleares (Fedele Baleares), y en 2017 crea
                    la Asociación Cultural y de Amistad entre Catalunya y Escocia (SCOTCAT). Ha organizado también
                    diversos eventos y actividades para niños, jóvenes y docentes en el ámbito de la formación y el
                    ocio.
                </p>
            </div>
            <div class="p-6 bg-white rounded-b-xl">
                <h2 class="bold text-3xl">Luigi Bugalla</h2>
                <div>
                    <img src="#" class="rounded-t-xl">
                </div>
                <p class="text-gray-500 text-xl">Nacido en Turín (Italia) en 1964, es políglota y language consultant
                    especializado en el aprendizaje práctico de idiomas. Hasta la fecha ha formado a más de 800 alumnos.
                    Emprendedor vocacional desde los 18 años y focalizado en el área de recursos humanos y comercial, ha
                    colaborado como socio estratégico en más de 15 proyectos en los ámbitos educativo y cultural.
                    En 2014 funda 20 COFFES SPEAKING GROUPS, un servicio que ofrece la posibilidad de aprender,
                    refrescar o mejorar el idioma conversando en grupos reducidos en cafeterías de Barcelona. Más
                    recientemente ha ampliado su oferta al mundo online con un componente añadido de intercambio
                    cultural. Su experiencia abarca la enseñanza de español, inglés, francés, italiano, ruso y chino.
                    Desde 2001 es directivo de la Asociación de Consumidores de Medios Audiovisuales de Cataluña (TAC).
                    Recientemente ha sido nombrado Secretario de la Asociación Pro Beatificación de Antoni Gaudí.</p>
            </div>

        </div>
    </div>
{% endblock %}
